<style> 
  /* css style for button effects is taken from here:*/
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
  .button {
    background-color: #4CAF50; /* Green */
    border:none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
  }
  .qbutton6 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  .qbutton6:hover {
    background-color: #4CAF50;
    color: white;
  }
  .query_form {
    display: none;
  }
  .query6_output_class {
    display: block;
  }
</style>
<h2> Know about the Correspondent </h2>
<button id = "query6_button" class="button qbutton6">
User enters the Correspondent name he/she wants to know
more about and the system returns the total number of transactions and patents handled by that
correspondent in addition to his error count in his transactions. Efficiency score is calculated as
1 - (error count/total transactions).<br>
Output : Name — Transaction Count — Patent Count — Error Count — Efficiency
</button>

<!-- show this onclicking query 1 button -->
<div id = 'query6' class="query_form">
  <br>
  <form action="/form-handler6" method="POST">
    <div>
      Correspondent Name(e.g. 'NORTHERN TELECOM LIMITED'): <br><input type="text" name='assignor_name'><br><br>
    </div>
    <input type='submit' value='Submit'>
  </form>
</div>

<!-- show this after submitting the form -->
<div id="query6_output" class="query6_output_class">  
  <table style="width:100%" border="1px solid black">
      <tr>
        <th> Name </th>
        <th> Transaction Count </th>
        <th> Patent Count </th>
        <th> Error Count </th>
        <th> Efficiency </th>
      </tr>
    {% for row in users %}
      <tr>
        <td> {{ row[0] }}</td>
        <td> {{ row[1] }}</td>
        <td> {{ row[2] }}</td>
        <td> {{ row[3] }}</td>
        <td> {{ row[4] }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

<script type="text/javascript">
  var height = document.getElementById('query6_output').parentElement.scrollHeight;
  var parent_iframe = parent.document.getElementById('iframe6_id');
  parent_iframe.height = height;
</script>
