<style>
  .s_stats1_output_class {
    display: block;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
  }
</style>
<!-- show this after submitting the form -->
<div id="s_stats2_output" class="s_stats2_output_class" align="center">  
  <table style="width:50%">
      <tr>
        <th> Year </th>
        <th> Month </th>
        <th> Patent Count </th>
        <th> Rank </th>
      </tr>
    {% for row in result %}
      <tr>
        <td> {{ row[0] | int }}</td>
        <td> {{ row[1] | int }}</td>
        <td> {{ row[2] | int }}</td>
        <td> {{ row[3] | int }}</td>
      </tr>
    {% endfor %}
  </table>

</div>
